@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 0, 0, 0;
  --foreground-rgb: 255, 255, 255;
}

/* :root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  @apply bg-[#090909] text-white;
  font-family: "Poppins", sans-serif;
}

.tabs {
  width: 100%;
}

.tabs[data-orientation="vertical"] {
  display: flex;
}

.tabs__list {
  position: relative;
  display: flex;
}

.tabs__list[data-orientation="vertical"] {
  flex-direction: column;
  align-items: stretch;
}

.tabs__content {
  @apply h-full;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.nice-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(23 23 23 / 0.5) transparent;
}

.dropdown-menu__trigger {
  @apply tab-trigger;
}

.dropdown-menu__trigger:focus-visible {
  outline: 2px solid rgb(255 255 255 / 0.1);
  outline-offset: 2px;
}

.dropdown-menu__content,
.dropdown-menu__sub-content {
  @apply v-main border rounded-lg shadow-lg outline-none p-2 min-w-[220px];
  transform-origin: var(--kb-menu-content-transform-origin);
  animation: contentHide 250ms ease-in forwards;
}

.dropdown-menu__content[data-expanded],
.dropdown-menu__sub-content[data-expanded] {
  animation: contentShow 250ms ease-out;
}

.dropdown-menu__item,
.dropdown-menu__checkbox-item,
.dropdown-menu__radio-item,
.dropdown-menu__sub-trigger {
  font-size: 16px;
  line-height: 1;
  @apply text-white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 8px 0 24px;
  position: relative;
  user-select: none;
  outline: none;
}

.dropdown-menu__sub-trigger[data-expanded] {
  background-color: hsl(204 94% 94%);
  color: hsl(201 96% 32%);
}

.dropdown-menu__item[data-disabled],
.dropdown-menu__checkbox-item[data-disabled],
.dropdown-menu__radio-item[data-disabled],
.dropdown-menu__sub-trigger[data-disabled] {
  @apply text-neutral-500;
  opacity: 0.5;
  pointer-events: none;
}

.dropdown-menu__item[data-highlighted],
.dropdown-menu__checkbox-item[data-highlighted],
.dropdown-menu__radio-item[data-highlighted],
.dropdown-menu__sub-trigger[data-highlighted] {
  outline: none;
  background-color: hsl(200 98% 39%);
  color: white;
}

.dropdown-menu__group-label {
  padding: 0 24px;
  font-size: 14px;
  line-height: 32px;
  color: hsl(240 4% 46%);
}

.dropdown-menu__separator {
  height: 1px;
  border-top: 1px solid hsl(240 6% 90%);
  margin: 6px;
}

.dropdown-menu__item-indicator {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu__item-right-slot {
  margin-left: auto;
  padding-left: 20px;
  font-size: 14px;
  @apply text-neutral-500;
}

[data-highlighted] > .dropdown-menu__item-right-slot {
  @apply text-white;
}

[data-disabled] .dropdown-menu__item-right-slot {
  @apply text-neutral-600;
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.96);
  }
}

* {
  @apply border-[#1f1f1f];
}

.c-description {
  @apply text-neutral-400;
}

.v-main {
  @apply bg-neutral-930;
}

.v-hover-highlight {
  @apply hover:bg-neutral-900 data-[selected=true]:bg-neutral-900;
}

.el {
  @apply bg-neutral-900 shadow-lg hover:bg-neutral-800 disabled:hover:bg-neutral-900 disabled:opacity-50 disabled:cursor-not-allowed  data-[active=true]:bg-neutral-800 data-[active=true]:text-white hover:text-white disabled:hover:text-neutral-400 text-neutral-400 duration-150;
}

.el-inverted {
  @apply bg-white shadow-lg hover:bg-neutral-200 disabled:hover:bg-white disabled:opacity-50 disabled:cursor-not-allowed  data-[active=true]:bg-neutral-200 data-[active=true]:text-black hover:text-black disabled:hover:text-neutral-900 text-neutral-900 duration-150;
}

/* components */
/* Base button styles */
.btn {
  @apply el py-1.5 px-3 border text-sm font-medium rounded-lg disabled:cursor-not-allowed;
}

/* Small button modifier */
.btn-sm {
  @apply py-1 px-2 text-xs;
}

/* Inverted button modifier */
.btn-inverted {
  @apply el-inverted;
}

.tab-trigger {
  @apply el m-2 p-2 rounded-lg border cursor-pointer text-neutral-500;
}

.divider {
  @apply h-[1px] w-full border-b;
}

.header {
  @apply uppercase tracking-tight text-sm;
}
.dialog__overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgb(0 0 0 / 0.95);
  animation: overlayHide 250ms ease 100ms forwards;
}
.dialog__overlay[data-expanded] {
  animation: overlayShow 250ms ease;
}
.dialog__positioner {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog__content {
  z-index: 50;
  max-width: min(calc(100vw - 16px), 500px);

  @apply bg-neutral-950 text-white border  rounded-lg overflow-hidden;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  animation: contentHide 300ms ease-in forwards;
}
.dialog__content[data-expanded] {
  animation: contentShow 300ms ease-out;
}
.dialog__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 12px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.96);
  }
}

.form-input {
  @apply outline-none  
  border
  rounded
  min-w-0 
  px-3 py-2
  placeholder-neutral-500
  text-sm caret-neutral-500 bg-transparent;
}

.toast__list {
  --viewport-padding: 16px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 8px;
  width: 400px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 9999;
  outline: none;
}
.toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  @apply border bg-neutral-950 rounded-lg;
  padding: 12px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.toast[data-opened] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toast[data-closed] {
  animation: hide 100ms ease-in;
}
.toast[data-swipe="move"] {
  transform: translateX(var(--kb-toast-swipe-move-x));
}
.toast[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.toast[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}
.toast__content {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.toast__close-button {
  flex-shrink: 0;
  margin-left: auto;
  @apply p-1 rounded-lg border hover:bg-neutral-900 duration-150;
}
.toast__title {
  font-size: 16px;
  font-weight: 500;
  @apply text-white;
}
.toast__description {
  @apply c-description;
}
.toast__progress-track {
  height: 8px;
  width: 100%;
  @apply bg-neutral-900;
  border-radius: 3px;
}
.toast__progress-fill {
  @apply bg-blue-400;
  border-radius: 3px;
  height: 100%;
  width: var(--kb-toast-progress-fill-width);
  transition: width 250ms linear;
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}
@keyframes swipeOut {
  from {
    transform: translateX(var(--kb-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}
