@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 0, 0, 0;
  --foreground-rgb: 255, 255, 255;
}

/* :root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  @apply bg-[#090909] text-white;
  font-family: 'Poppins', sans-serif;
}


.tabs {
  width: 100%;
}

.tabs[data-orientation="vertical"] {
  display: flex;
}

.tabs__list {
  position: relative;
  display: flex;
}


.tabs__list[data-orientation="vertical"] {
  flex-direction: column;
  align-items: stretch;
}


.tabs__content {
  @apply h-full;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.nice-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(23 23 23 / 0.5) transparent;
}

.dropdown-menu__trigger {
  @apply tab-trigger;
}


.dropdown-menu__trigger:focus-visible {
  outline: 2px solid rgb(255 255 255 / 0.1);
  outline-offset: 2px;
}

.dropdown-menu__content,
.dropdown-menu__sub-content {
  @apply v-main border rounded-lg shadow-lg outline-none p-2 min-w-[220px];
  transform-origin: var(--kb-menu-content-transform-origin);
  animation: contentHide 250ms ease-in forwards;
}

.dropdown-menu__content[data-expanded],
.dropdown-menu__sub-content[data-expanded] {
  animation: contentShow 250ms ease-out;
}

.dropdown-menu__item,
.dropdown-menu__checkbox-item,
.dropdown-menu__radio-item,
.dropdown-menu__sub-trigger {
  font-size: 16px;
  line-height: 1;
  @apply text-white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 8px 0 24px;
  position: relative;
  user-select: none;
  outline: none;
}

.dropdown-menu__sub-trigger[data-expanded] {
  background-color: hsl(204 94% 94%);
  color: hsl(201 96% 32%);

}

.dropdown-menu__item[data-disabled],
.dropdown-menu__checkbox-item[data-disabled],
.dropdown-menu__radio-item[data-disabled],
.dropdown-menu__sub-trigger[data-disabled] {
  @apply text-neutral-500;
  opacity: 0.5;
  pointer-events: none;
}

.dropdown-menu__item[data-highlighted],
.dropdown-menu__checkbox-item[data-highlighted],
.dropdown-menu__radio-item[data-highlighted],
.dropdown-menu__sub-trigger[data-highlighted] {
  outline: none;
  background-color: hsl(200 98% 39%);
  color: white;
}

.dropdown-menu__group-label {
  padding: 0 24px;
  font-size: 14px;
  line-height: 32px;
  color: hsl(240 4% 46%);
}

.dropdown-menu__separator {
  height: 1px;
  border-top: 1px solid hsl(240 6% 90%);
  margin: 6px;
}

.dropdown-menu__item-indicator {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu__item-right-slot {
  margin-left: auto;
  padding-left: 20px;
  font-size: 14px;
  @apply text-neutral-500
}

[data-highlighted]>.dropdown-menu__item-right-slot {
  @apply text-white;
}

[data-disabled] .dropdown-menu__item-right-slot {
  @apply text-neutral-600;
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.96);
  }
}


* {
  @apply border-[#1f1f1f];
}

.c-description {
  @apply text-neutral-400
}

.v-main {
  @apply bg-[#0f0f0f];
}

.v-hover-highlight {
  @apply hover:bg-neutral-900 data-[selected=true]:bg-neutral-900
}

.v-el {
  @apply bg-neutral-900 shadow-lg hover:bg-neutral-800 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-neutral-900 data-[active=true]:bg-neutral-800 data-[active=true]:text-white hover:text-white text-neutral-400 duration-150
}

/* components */
.button-sm {
  @apply v-el py-1 px-2 border text-xs rounded-lg disabled:cursor-not-allowed
}

.tab-trigger {
  @apply v-el m-2 p-2 rounded-lg border cursor-pointer text-neutral-500;
}

.divider {
  @apply h-[1px] w-full border-b
}

.header {
  @apply uppercase tracking-tight text-sm
}